<div id="ButtonGroup" class="flex mt-4 gap-2">
    <button class="w-1/2 max-h-15 bg-blue-500 text-white py-3 px-4 rounded hover:bg-blue-600">Adicionar ao
        Carrinho</button>
    <button class="w-1/2 max-h-15 bg-green-500 text-white py-3 px-2 rounded hover:bg-green-600">Comprar Agora</button>
</div>

@code {

}