@using ECommerce.Services

@inject CarrinhoService CarrinhoService;
@inject SnackbarService SnackbarService;

<div id="ButtonGroup" class="flex mt-4 gap-2">
    <button @onclick=" () => AdicionarAoCarrinho(produto)"
        class="w-1/2 bg-cherry3 text-white py-3 px-4 rounded hover:bg-cherry4 cursor-pointer">Adicionar ao
        Carrinho</button>
    <a href="/checkout"
        class="flex justify-center items-center w-1/2 bg-green-500 text-white py-3 px-2 rounded hover:bg-green-600 cursor-pointer">Comprar
        Agora</a>
</div>

@code {
    [Parameter] public Produto produto { get; set; }

    private void AdicionarAoCarrinho(Produto produto)
    {
        if (produto == null)
        {
            return;
        }
        CarrinhoService.Adicionar(produto);
        _ = SnackbarService.ShowAsync("Produto Adicionado com sucesso!", isError: false);
    }
}