<header class="flex justify-between items-center p-4 bg-cherry3 text-white rounded-2xl shadow-md">
  <h1 class="text-xl font-bold">Flores & Encantos</h1>
  <nav class="flex items-center space-x-4">
    <div class="flex items-center space-x-1">
      <img src="./Assets/home.png" class="w-5 h-5 filter invert inline-block" alt="Home">
      <a href="/" class="hover:underline">Home</a>
    </div>
    <div class="flex items-center space-x-1">
      <img src="./Assets/info.png" class="w-5 h-5 filter invert inline-block" alt="Sobre">
      <a href="/sobre" class="hover:underline">Sobre</a>
    </div>
    <div class="flex items-center space-x-1">
      <img src="./Assets/cart.png" class="w-5 h-5 filter invert inline-block" alt="Carrinho">
      <a href="/carrinho" class="hover:underline">Carrinho</a>
    </div>
  </nav>
</header>
