@using Microsoft.AspNetCore.Components.Forms

<div>
    <label class="block text-sm text-gray-600 mb-1">@Label</label>
    <InputText @bind-Value="Value" @bind-Value:event="oninput"
               class="w-full border-b border-gray-400 focus:outline-none focus:border-blue-700 transition duration-150" />
</div>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    private string CurrentValue
    {
        get => Value;
        set
        {
            if (Value != value)
            {
                Value = value;
                ValueChanged.InvokeAsync(value);
            }
        }
    }
}
