@using ECommerce.Services

@inject SnackbarService SnackbarService

@if (IsVisible)
{
    <div
        class="fixed top-5 left-1/2 transform -translate-x-1/2 transition-all duration-300 ease-in-out @AnimationClass @SnackbarColor text-white px-6 py-3 rounded-2xl shadow-lg">
        @Message
    </div>
}

@code {
    private string Message { get; set; }
    private bool IsVisible { get; set; }
    private bool IsError { get; set; }
    private int Duration { get; set; } = 3000;
    private CancellationTokenSource CancellationTokenSource { get; set; }
    private string AnimationClass { get; set; } = "";

    private string SnackbarColor => IsError ? "bg-red-500" : "bg-green-500";

    protected override void OnInitialized()
    {
        SnackbarService.OnShow += ShowSnackbar;
    }

    private async Task ShowSnackbar(string message, bool isError, int duration)
    {
        // Se já tiver um snackbar ativo, cancela ele
        CancellationTokenSource?.Cancel();

        Message = message;
        IsError = isError;
        Duration = duration;
        IsVisible = true;
        AnimationClass = "fade-in";
        StateHasChanged();

        CancellationTokenSource = new CancellationTokenSource();
        var token = CancellationTokenSource.Token;

        try
        {
            await Task.Delay(Duration, token);

            AnimationClass = "fade-out";
            StateHasChanged();

            await Task.Delay(300, token); // Duração do fade-out
            IsVisible = false;
            StateHasChanged();
        }
        catch (TaskCanceledException)
        {
            // Ignora cancelamento
        }
    }

    public void Dispose()
    {
        SnackbarService.OnShow -= ShowSnackbar;
    }
}
