<h2 class="@SubtitleSize font-semibold mb-4">@SubtitleText</h2>


@code {
    [Parameter] public string SubtitleText { get; set; } = "Destaques"; // Default value for Subtitle
    [Parameter] public string SubtitleSize { get; set; } = "text-lg"; // Default value for SubtitleSize
}