@page "/"

<div class="p-4 min-h-screen bg-linear-to-t from-blue-300 to-blue-500">

  <Header />


  <section class="my-6">
    <h2 class="text-lg font-semibold mb-4">Destaques</h2>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
      <CardProduto ImagemUrl="./Assets/planta1.jpg" Nome="Lírio-Aranha" Preco="R$ 89,90" Link="/produto/1" />
      <CardProduto ImagemUrl="./Assets/planta2.jpg" Nome="Girassol" Preco="R$ 49,90" Link="/produto/2" />
      <CardProduto ImagemUrl="./Assets/planta3.jpg" Nome="Begonia " Preco="R$ 59,90" Link="/produto/3" />
      <CardProduto ImagemUrl="./Assets/planta4.jpg" Nome="Lisianthus" Preco="R$ 59,90" Link="/produto/4" />

      <CardProduto ImagemUrl="./Assets/planta5.jpg" Nome="Conjunto Flores Casamento" Preco="R$ 59,90"
        Link="/produto/5" />
      <CardProduto ImagemUrl="./Assets/planta6.jpg" Nome="Conjunto de Vasos 1" Preco="R$ 59,90" Link="/produto/6" />
      <CardProduto ImagemUrl="./Assets/planta7.jpg" Nome="Conjunto de Vasos 2" Preco="R$ 59,90" Link="/produto/7" />
      <CardProduto ImagemUrl="./Assets/planta8.jpg" Nome="Conjunto de Vasos 3" Preco="R$ 59,90" Link="/produto/8" />

      <CardProduto ImagemUrl="./Assets/planta9.jpg" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/9" />
      <CardProduto ImagemUrl="./Assets/planta10.jpg" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/10" />
      <CardProduto ImagemUrl="./Assets/planta11.jpg" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/11" />
      <CardProduto ImagemUrl="./Assets/planta12.jpg" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/12" />

      <CardProduto ImagemUrl="./Assets/planta13.jpg" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/13" />
      <CardProduto ImagemUrl="./Assets/planta14.jpg" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/14" />
      <CardProduto ImagemUrl="./Assets/planta15.jpg" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/15" />
      <CardProduto ImagemUrl="./Assets/planta16.jpg" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/16" />

      <CardProduto ImagemUrl="./Assets/planta17.jpg" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/17" />
      <CardProduto ImagemUrl="./Assets/planta18.jpg" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/18" />
      <CardProduto ImagemUrl="./Assets/planta19.jpg" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/19" />
      <CardProduto ImagemUrl="./Assets/planta20.jpg" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/20" />
    </div>
  </section>
</div>