
@page "/"

<div class="p-4">

    <Header/>


  <section class="my-6">
    <h2 class="text-lg font-semibold mb-4">Destaques</h2>
<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <CardProduto ImagemUrl="img/bikini.jpg" Nome="Biquíni Verão" Preco="R$ 89,90" Link="/produto/1" />
        <CardProduto ImagemUrl="img/regata.jpg" Nome="Regata Fresca" Preco="R$ 49,90" Link="/produto/2" />
        <CardProduto ImagemUrl="img/shorts.jpg" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/3" />
    </div>
  </section>
</div>