@page "/"

<div class="p-4">

  <Header />


  <section class="my-6">
    <h2 class="text-lg font-semibold mb-4">Destaques</h2>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
      <CardProduto ImagemUrl="./Assets/biquini.webp" Nome="Biquíni Verão" Preco="R$ 89,90" Link="/produto/1" />
      <CardProduto ImagemUrl="./Assets/regata.webp" Nome="Regata Fresca" Preco="R$ 49,90" Link="/produto/2" />
      <CardProduto ImagemUrl="./Assets/shorts-praia.webp" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/3" />
      <CardProduto ImagemUrl="./Assets/shorts-praia.webp" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/4" />

      <CardProduto ImagemUrl="./Assets/shorts-praia.webp" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/5" />
      <CardProduto ImagemUrl="./Assets/shorts-praia.webp" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/6" />
      <CardProduto ImagemUrl="./Assets/shorts-praia.webp" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/7" />
      <CardProduto ImagemUrl="./Assets/shorts-praia.webp" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/8" />

      <CardProduto ImagemUrl="./Assets/shorts-praia.webp" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/9" />
      <CardProduto ImagemUrl="./Assets/shorts-praia.webp" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/10" />
      <CardProduto ImagemUrl="./Assets/shorts-praia.webp" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/12" />
      <CardProduto ImagemUrl="./Assets/shorts-praia.webp" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/13" />

      <CardProduto ImagemUrl="./Assets/shorts-praia.webp" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/14" />
      <CardProduto ImagemUrl="./Assets/shorts-praia.webp" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/15" />
      <CardProduto ImagemUrl="./Assets/shorts-praia.webp" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/16" />
      <CardProduto ImagemUrl="./Assets/shorts-praia.webp" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/17" />

      <CardProduto ImagemUrl="./Assets/shorts-praia.webp" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/18" />
      <CardProduto ImagemUrl="./Assets/shorts-praia.webp" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/19" />
      <CardProduto ImagemUrl="./Assets/shorts-praia.webp" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/20" />
      <CardProduto ImagemUrl="./Assets/shorts-praia.webp" Nome="Shorts Praia" Preco="R$ 59,90" Link="/produto/21" />
    </div>
  </section>
</div>