@import "tailwindcss";

@layer utilities {
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-up {
    animation: fadeInUp 0.4s ease-out forwards;
  }
}

@theme {
  --color-cherry5: #564740;
  --color-cherry4: #4c1711;
  --color-cherry3: #aa6f73;
  --color-cherry2: #fcdfe4;
  --color-cherry1: #ebe7e4;
}
